<div ng-show="banner" ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner" ng-show="banner">
  <div class="container">
    <h1>Attendance Management System</h1>
    <p class="lead">Please choose the system that you would like to display:</p>
    <div class="btn-group">
      <a href="/library" class="btn btn-lg btn-primary">Library Dashboard</a>
      <a href="/math" class="btn btn-lg btn-primary">Math Tutorial Dash</a>
      <a href="/science" class="btn btn-lg btn-primary">Science Tutorial Dash</a>
    </div>
  </div>
</header>
<p class="hero-unit" style="background: none repeat scroll 0% 0% #999;" ng-click="banner = !banner"><i class="glyphicon" ng-class="banner ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></i></p>
<div ng-class="globalError ? 'red-background': ''">
<div class="container">
  <div class="panel {{formStyle}}">
    <div class="panel-heading">
    <h1>{{option.title}} Sign-In</h1>
    </div>
    <div class="panel-body panel-body-custom">
      <form class="thing-form" id="signin" ng-submit="submit()">
        <label>Please fill out the following information in order to enter the Library.</label>
        <div class="btn-group-justified">
        <div class="alert alert-{{alertState.style}}"><strong>{{ alertState.title }}</strong> {{ alertState.message }}</div>
        </div>
        <p class="input-group input-group-lg" ng-hide="isFormState(7)">
          <span class="input-group-addon">PIN:</span>
          <input ng-init="getFocus()" id="pinbox" tabindex="1" type="text" class="form-control" placeholder="Please enter your pin..." ng-disabled="isFormState(6)" ng-model="pin" ng-change="updatePin()" ng-keypress="onPinKeypress()">
          <span class="input-group-btn">
            <button tabindex="-1" class="btn btn-default disabled" type="button" ng-show="isFormState(0)">Nothing Entered <i class="glyphicon glyphicon-remove-sign"></i></button>
            <button tabindex="-1" class="btn btn-danger disabled" type="button" ng-show="isFormState(1)">Invalid Input <i class="glyphicon glyphicon-remove-sign"></i></button>
            <button tabindex="-1" class="btn btn-warning disabled" type="button" ng-show="isFormState(2)||isFormState(3)">Profile Missing <i class="glyphicon glyphicon-exclamation-sign"></i></button>
            <button tabindex="-1" class="btn btn-success disabled" type="button" ng-show="isFormState(4)">Found Profile <i class="glyphicon glyphicon-ok-sign"></i></button>
            <button tabindex="-1" class="btn btn-danger disabled" type="button" ng-show="isFormState(5)">Profile Disabled <i class="glyphicon glyphicon-exclamation-sign"></i></button>
            <button tabindex="-1" class="btn btn-warning disabled" type="button" ng-show="isFormState(6)">Profile Incorrect <i class="glyphicon glyphicon-exclamation-sign"></i></button>
          </span>
        </p>
        <p class="input-group input-group-lg" ng-show="isFormState(2)||isFormState(3)||isFormState(4)||isFormState(6)">
          <span class="input-group-addon">First Name:</span>
          <input tabindex="2" type="text" class="form-control" placeholder="Please enter your First Name..." ng-model="nameFirst" ng-disabled="!(isFormState(2)||isFormState(3)||isFormState(6))" ng-change="updateName();">
          <span class="input-group-btn"><button tabindex="-1" type="button" class="btn disabled" ng-class="firstname_valid ? 'btn-success' : 'btn-danger'">
            <i ng-class="firstname_valid ? 'glyphicon-ok-circle' : 'glyphicon-remove-circle' " class="glyphicon"></i>
          </button></span>
        </p>
        <p class="input-group input-group-lg" ng-show="isFormState(2)||isFormState(3)||isFormState(4)||isFormState(6)">
          <span class="input-group-addon">Last Name:</span>
          <input tabindex="3" type="text" class="form-control" placeholder="Please enter your Last Name..." ng-model="nameLast" ng-disabled="!(isFormState(2)||isFormState(3)||isFormState(6))" ng-change="updateName();">
          <span class="input-group-btn"><button tabindex="-1" type="button" class="btn disabled" ng-class="(lastname_valid || isFormState(4)) ? 'btn-success' : 'btn-danger'">
            <i ng-class="lastname_valid ? 'glyphicon-ok-circle' : 'glyphicon-remove-circle' " class="glyphicon"></i>
          </button></span>
        </p>
        <input type="submit" style="visibility: hidden; position: absolute;" />
<!--  This was removed because user shouldn't have access to it.
        <div class="btn-group btn-group-lg btn-group-justified" ng-show="isFormState(2)||isFormState(3)||isFormState(4)||isFormState(6)">
          <a class="btn btn-danger" ng-click="clearPin()">I want to start over...</a>        
          <a ng-click="nameWrong();"class="btn btn-warning" ng-show="isFormState(4)">My name is incorrect...</a>
          <a ng-click="submit();" type="submit" tabindex="4" class="btn btn-success" ng-class="(isFormState(4)||((isFormState(3)||isFormState(6))&&(firstname_valid && lastname_valid))) ? '' : 'disabled'">Sign In <i class="glyphicon" ng-class="isFormState(4)||isFormState(3) ? 'glyphicon-chevron-right' : 'glyphicon-remove-sign'"></i></a>    
        </div>
-->
        <div id="debugging" ng-show="debug">
          <h2>Debug Information:</h2>
          <h3>(Profiles Dump)</h3>
          <div class="list-group" ng-repeat="prof in profiles">
            <a href="#" class="list-group-item active">
              <h4 class="list-group-item-heading">{{prof.pin}}</h4>
              <p class="list-group-item-text">First Name: {{prof.nameFirst}}</p>
              <p class="list-group-item-text">Last Name: {{prof.nameLast}}</p>
              <p class="list-group-item-text">Disabled? {{prof.disabled}}</p>
              <p class="list-group-item-text">Disabled Reason: {{prof.disableReason}}</p>
            </a>
          </div>
        </div>
      </form> 
    </div>
  </div>
</div>
</div>
<!--<div ng-include="'components/footer/footer.html'"></div>-->